:root {
    --electric-blue: #2A63EB;
    --dark-gray: #1B1A1C;
    --white: #ffffff;
    --neon-green: #00FF88;
}

body {
    margin: 0;
    background-color: var(--dark-gray);
    font-family: 'Outfit', sans-serif;
    color: var(--white);
    overflow-x: hidden;
}

/* Contenedor principal para Hero y Sobre Mí */
.hero-about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* Permite que .hero crezca para que funcione sticky */
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    padding-top: 80px;
    /* Espacio para el header fijo si lo hay, o margen superior */
}

.hero {
    flex: 1;
    min-width: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Cambiado de center a flex-start para que empiece arriba */
    text-align: center;
    position: relative;
}

.hero-content {
    position: sticky;
    top: 30vh;
    /* Se mantiene a esta altura mientras scrolleas */
    transition: top 0.3s ease;
}

.sobremi {
    flex: 1;
    min-width: 300px;
    /* Los estilos de sobremi.css se aplican aquí también */
}


/* Eliminar el .overlay */
canvas {
    position: fixed;
    /* Cambiado de absolute a fixed */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: var(--dark-gray);
    /* Fondo estático */
    z-index: -1;
}

.hero h1,
.hero h2 {
    z-index: 2;
    /* Asegurar que el texto esté sobre el canvas */
}

/* Estilos del título */
.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    background: linear-gradient(45deg, var(--electric-blue), var(--neon-green));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 15px rgba(0, 255, 136, 0.7);
    /* Efecto de resplandor */
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .hero-about-container {
        flex-direction: column;
    }
}

.math_word {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}